*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

:root{
    font-size: 12px;
}

a {
    color: inherit;
}

body{
    width: 100%;
    background: #000;
}

nav{
    padding-top: 20px;
    background: #000;
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    box-shadow: 10px 0 5px rgba(255,255,255,.5), 30px 0 30px rgba(255,255,255,.3), 40px 0 50px rgba(255,255,255,.1);
    z-index: 10;
}

nav ul{
    position: relative;
    min-width: 350px;
    min-height: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 10px;
    padding: 0 15px;
    background: #000;
    box-shadow: 0 6.7px 5.3px rgba(0,0,0,.12), 0 22.3px 17.9px rgba(0,0,0,.08), 0 100px 80px rgba(0,0,0,.04);
    overflow: hidden;
    color:#fff;
}

nav ul li{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li a{
    display: 100%;
    cursor: pointer;
    font-size: 20px;
}

nav ul li a i{
    opacity: 0.4;
    transition: opacity 100ms ease;
}

nav ul li a.active i{
    opacity: 1;
}

nav .tubelight{
    position: absolute; 
    left: 0px;
    top: 0px;
    transform: translateX(-50%);
    width: 45px;
    height: 5px;
    border-radius: 5px;
    background: #fff;
    transition: left 400ms ease;
    z-index: 10;
}

nav .light-ray{
    position: absolute;
    left: -30%;
    top: 5px;
    width: 160%;
    height: 80px;
    background: linear-gradient(to bottom, rgba(255,255,255,.3) -50%, rgba(255,255,255,0) 90%);
    clip-path: polygon(5% 100%, 25% 0px, 75% 0px, 95% 100%);
    pointer-events: none;
}

h3{
    color: #fff;
    position: absolute;
    top: 10vh;
    font-size: 4em;
    text-shadow: 5px 0 10px rgba(255,255,255,.5);
    margin-bottom: 50px;
}

#welcome-section {
    height: 90vh;
    padding-top: 80px;
    padding-top: 30vh;
    padding-left: 10%;
    position: relative;
}

#hero-text h1{
    color: white;
    font-size: 4rem;
}

#hero-text h2{
    color: #87dfe9;
    background: #333;
    font-size: 2rem;
    padding: 20px;
    width: 300px;
}

#hero-img {
    position: absolute;
    height: 30%;
    bottom: 0px;
    right: 50px;
}

#projects{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 80px;
    flex-wrap: wrap;
    position: relative;
    min-height: 100vh;
}

.project-tile{
    width:300px;
    height: 450px;
    border-top: solid 1px #fff;
    box-shadow: inset 0px 1px 2px #fff, inset 0px 15px 30px rgba(255,255,255,.5), inset 0px 50px 60px rgba(2555,255,255,.2);
    border-radius: 5px;
    color: #87dfe9;
    font-size: 1.5em;
    margin-bottom: 20px;
    
}

#tile-container{
    padding-top: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

.project-tile a{
    text-align: center;
    padding: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.project-tile img{
    border-radius: 10px;
}

#profile{
    min-height: 90vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 600px){
    :root{
        font-size: 20px;
    }

    #hero-text h2{
        width: 450px;
    }
    
    #hero-img{
        height: 70%
    }
}